[KGameTheme]
Name=Simple Mechanic
Description=A dark theme with limited contrast
Author=Espen Grønvold
AuthorEmail=espen_g@mail.com
Type=SVG
FileName=simplemechanic.svgz
Preview=simplemechanic.png
